@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
  min-height: 100vh;
  width: 100%;
  background-color: #effaff;
  color: #434343;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 3;
}

.header h2 {
  color: #1c548c;
  font-weight: 600;
}

.header nav {
  color: #1c548c;
}

.logo {
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 10px;
  padding: 0 240px;
}

main h2 {
  color: #1c548c;
  font-weight: 600;
}

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.upload-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.upload-layout label {
  cursor: pointer;
  width: 100%;
}

.video-upload-img {
  width: 100%;
}

.video-upload-input {
  display: none;
}

.button-container {
  display: flex;
  gap: 10px;
}

.video-editing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video-cutting-slider {
  display: flex;
}

.video-duration {
  display: flex;
  justify-content: space-between;
}

/* FOOTER */
footer {
  background-color: #434343;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* VIDEO PLAYER */
.video-player {
  width: 100%;
}
